[submodule "jackiegansite/public"]
	path = jackiegansite/public
	url = https://github.com/jiajingan/jiajingan.github.io.git
	branch = main
[submodule "jackiegansite/themes/themes/PaperMod"]
	path = jackiegansite/themes/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
